// Color Variables
$color: red;
$primary-color: steelblue;
$secondary-color: #FFE1BD;
$third-color:#db423d;
$main-text-color: #fff;
$link-color: black;
$bg-color:#f7efee;
$light-color: #f4f4f4; 
$dark-color: #333;

// Other Variables
$font-stack: 'Raleway', sans-serif;
$label-font: 'Raleway', sans-serif;

* {
   margin: 0;
   padding: 0;
}

// Standards
a {text-decoration: none;}

a, p, h1, h2, h3, h4, h5, h6 {
   font-family: $font-stack;
   font-weight: 100;
}
.btn {
   background:$third-color;
   padding: 1.5rem 2rem;
   border: none;
   border-radius: 5px;
}
.btn-main {
   color: $main-text-color;
   font-size: 1.3rem;
   margin-top: 2rem;
   &:hover {
   background-color: darken($color: $third-color, $amount: 10%)}
}
.tri-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 1rem;
}
.duo-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1rem;
}
.lone-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;
}
ul {list-style: none;}

.m-t-one {margin-top: 1rem;}
.m-top-two {margin-top: 2rem;}
.m-b-one {margin-bottom: 1rem;}
.m-b-two {margin-bottom: 2rem;}
.m-y-one {margin: 1rem 0;}
.m-y-half {margin: .5rem 0;}
.m-y-two {margin: 2rem 0;}
.p-q {padding: .25rem;}
.py-one {padding: 1rem 0;}
.py-half {padding: .5rem 0;}
.p-top-one {padding-top: 1rem;}
.p-top-two {padding-top:2rem;}
.p-b-one {padding-bottom: 1rem;}

.container {
   max-width: 1100px;
   margin: auto;
   padding: 0 2rem;
   overflow: hidden; 
}

.italic { font-style: italic;}

.input-packet {
   display: flex;
   flex-direction: column;
}

.input-font-size {
   font-size: 1.2rem;
}
.mini-container {
   max-width: 800px;
   margin: auto;
   padding: 0 2rem;
   overflow: hidden; 
}
.one-k-container {
   max-width: 1000px;
   margin: auto;
   padding: 0 2rem;
   overflow: hidden; 
}

.placeholder {
   opacity: 0%;
}
.half-spacer {
   height: 2px;
   background-color: $third-color;
}
.spacer {
   height: 3px;
   background-color: $third-color;
}
.nav-spacer {
   position: absolute;
   bottom: 0;
   height: 3px;
   width: 100%;
   background-color: $third-color;
}
.text-align {text-align: center;}

.underline {
   text-decoration: underline;
}
// Showcase
.showcase {
   z-index:1;
   position: relative;
   background: $dark-color;
   height: 1500px;
   &::before {
   content: '';
   background: url("../img/carlos-alfonso-AlBgcDfDG_s-unsplash.jpg")
   no-repeat center center/cover;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.6;
   z-index: -1;
   }
   .showcase-container {
      .showcase-content {
         z-index: 1;
         .navbar {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 1rem;
            height: 90px;
            align-items: center;
            a {
               font-size: 1.5rem;
               color: $main-text-color;
            }
            ul {
               display: flex;
               justify-content: flex-end;
               li {
                  padding: 0 1rem;
                  a {
                     color: $main-text-color;
                     font-size: 1.3rem;
                  }
               }
            }
         }
         .title-container {
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            height: 800px;
            align-items: center;
            justify-content: center;
            h1 {
               color: $main-text-color;
               font-size: 5rem;
               text-align: center;
               margin-bottom: 1.5rem;
            }
            h3 {
               color: $main-text-color;
               text-align: center;
               padding: 0rem 0;
               font-size: 2.5rem;
               margin-bottom: 1rem;
            }
            h4 {
               color: $main-text-color;
               text-align: center;
               padding: 0 0 2rem 0;
               font-size: 1.5rem;  
            }
         }
         
      }
   }
}

// Information
.information {
   z-index: 1;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   &::before {
      content: '';
      background: $secondary-color;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: -1;
      }
   .call-to-action {
      display: flex;
      flex-direction: column;
      height: 400px;
      align-items: center;
      justify-content: center;
      h2 {
         text-align: center;
         padding: .8rem 0;
         line-height: 2.2rem;
      }
   }
}
.bg-sliding-image {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 100vw;
   background: url("../img/clark-van-der-beken-1KBCgRD8BDc-unsplash.jpg") no-repeat center center/cover;
   z-index: -2;
}
.sliding-image-window {
   background: $primary-color;
   height: 500px;
   width: 100%;
   opacity: 0;
}

// Contact Information 
.contact-us {
   background: $secondary-color;
   .contact-container {
      align-items: center;
      justify-content: center;
      h2 { 
         font-size: 3rem;
         margin: 2rem 0 2rem 0;
      }
      label {
         font-family: $label-font;
      }
      p { 
         margin-bottom: 2rem;
         line-height: 2rem;
      }
      #contact-me-text-body {
         width: 100%;
      }
      .input-packet {
         label {
            margin: 1rem 0 .5rem 0;
         }
         input {
            padding: .25rem 0 .25rem 0 ;
         }
      }
      .option {
         display: flex;
         font-size: 1.2rem;
         padding-left: 1rem;
         margin: .5rem 0 ;
         align-items: center;
         input {
            display: inline-block;
            transform: scale(1.5);
         }
         label {
            font-family: $label-font;
            margin-left: .75rem;
         }
         
      }
      textarea {
         font-size: 1.2rem;
         height: 100px;
         margin-top: .5rem;
      }
      // Submit Buttom
      .item-center-tool {
         input:nth-child(7) {
            transform: scale(.8);
            margin-top: 0;
            margin-left: 0;

         }
      }
   }
}

// Footer
.footer-main {
   position: relative;
   z-index: 2;
   height: 120px;
   &::before {
      content: '';
      position: absolute;
      background: $secondary-color;
      top: 0;
      left: 0;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      z-index: -1;
   }
   .tri-grid {
      z-index: 1;
      justify-content: center;
      align-items: center;
      height: 120px;
      a {
         color: $third-color;
         font-size: 1.3rem;
         font-weight: bold;}
      .social {
         ul {
            display: flex;
            flex-direction: row;
            li {
               margin: 0 .5rem;
               
            }

         }
      }
   }
}

// GIFTCARDS.HTML GIFTCARDS.HTMLGIFTCARDS.HTMLGIFTCARDS.HTMLGIFTCARDS.HTMLGIFTCARDS.HTMLGIFTCARDS.HTML

// NAV
.navbar-non-main {
   position: sticky;
   z-index: 4;
   top: 0;
   background: url("../img/clark-van-der-beken-1KBCgRD8BDc-unsplash.jpg")
   no-repeat center 43%/cover;
   height: 90px;
   &::before {
      content: '';
      position: absolute;
      background: $secondary-color;
      top: 0;
      left: 0;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      z-index: -1;
   }
   .navbar-non-main-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      height: 90px;
      align-items: center;
      a {
         font-size: 1.5rem;
         color: $third-color;
      }
      ul {
         right: 0;
         display: flex;
         justify-content: flex-end;
         li {
            padding: 0 1rem;
            a {
               color: $third-color;
               font-size: 1.3rem;
            }
         }
      }
   }
}

// WELCOME PAGE 
.bus-menu-welcome {
   background: $secondary-color;
   .bus-menu-welcome-content {
      margin: 2rem 0 2rem 0 ;
      h2 {
         font-size: 2.3rem;
         padding-bottom: 2rem;
         padding-top: 0rem;
         border-bottom: solid $third-color 2px;
      }
      h3 {
         font-size: 1.3rem;
         line-height: 2rem;
         margin-bottom: 0;
      }
      h3:nth-child(3){
         border-bottom: solid $third-color 2px;
         padding-bottom: 1rem;
         padding-top: 0rem;
      }
      h3:nth-child(4){
         padding-top: 2rem;
      }
   }
}
// Business Menu
.business-menu {
   background:$secondary-color;
   .duo-grid{
      margin: 1rem;
      grid-gap: 2rem;
      .genre-card {
         position: relative;
         height: 400px;
         overflow: hidden;
         img {
            object-fit: cover;
            width: 100%;
            height: 100%;
         }
         a {
            position: absolute;
            top:170px;
            left: 50px;
            color: white;
            font-size: 3rem;
            padding-right: 1rem;
         }
      }
      .genre-card:nth-child(8) {
         padding-bottom: 2rem;
      }
      .genre-card:nth-child(1), .genre-card:nth-child(2) {
         padding-top: 2rem;
      }
   }
}
// THANK YOU 
.thank-you {
   background: $secondary-color;
   padding-top: 10rem;
   a {
      color: $third-color;
      img {
         transform: scale(.8);
      }
   }
   .thank-you-content {
      .social {
         display: flex;
         width: 100%;
         align-items: center;
         justify-content: center;

         margin: 4rem 0 10rem 0;
      }
   }
}

// Business Lists Business Lists Business Lists Business Lists Business Lists Business Lists Business Lists Business Lists Business Lists Business Lists

.bus-list-welcome {
   background: $secondary-color;
   padding-bottom: 2rem;
   .bus-list-welcome-content {
      h2 {
         font-size: 3rem;
         border-bottom: solid $third-color 2px;
         padding-bottom: 1rem;
         margin: 1.5rem 0 0 0;
      }
      h3 {
         line-height: 2rem;
      }
      h3:first-child {
         margin-top: 4rem;
         font-size: 2.5rem;
      }
      h3:first-child {
         margin-top: 4rem;
         font-size: 2rem;
      }
      h3:nth-child(3) {
         border-bottom: solid $third-color 2px;
         padding: 2rem 0;
         margin-bottom: 0;
      }
      h3:nth-child(4) {
         padding: 2rem 0 0 0;

      }
   }
}
.business-list-main {
   background: $secondary-color;
   padding: .5rem 0;
   margin: 0;
   .duo-grid > a:first-child {
      padding-right: .5rem;
   }
   .business-list-main-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      .business-list-content {
         display: flex;
         margin: .75rem 0;
         h6 {
            font-size: 1.5rem;
            padding: 0 .5rem;
            color: $link-color;
         }
         a:nth-child(1) {
            color: $third-color;
            &:hover {
               color: $link-color;
            }
         }
         a {
            font-size: 1.5rem;
            color: $link-color;
            &:hover {
               color: $third-color;
            }
         }
      }
   }
}
.business-promo-links {
   display: flex;
}

// Import media Quires 
@import 'media';